{{#index sections 0}}
<section id="{{id}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{name}}</h2>
                <h3 class="section-subheading text-muted">{{description}}</h3>
            </div>
        </div>
        <div class="row text-center">
            {{#list items}}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{heading}}</h4>
                <p class="text-muted">{{description}}</p>
            </div>
            {{/list}}
        </div>
    </div>
</section>
{{/index}}